<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar with Sidebar</title>
  <link rel="stylesheet" href="../assets/css/dashboard.css">

</head>
<body>
  <!-- represents navbar.html -->
  {{navbar}}
  <div class="container" >
    <h1>Welcome to My Website</h1>
   
    <div style="margin-top: 50px; ">
 
  <!-- represents  navbar.html or  dynamic values -->   
  {{productlists}}
 
  </div>
</div>
</body>
</html>
