
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Business website</title>
    <link rel="stylesheet" href="../assets/css/index.css">
  </head>
  <body> 
      <!-- Landing/Index Page {Babatunde}  -->
    <section class="navigation w3-metro-light-blue w3-container">
      <button id="back-to-top" title="Go to top"><i class="fa fa-toggle-up"></i></button>
      <nav class="nav-container">
        <div class="logo w3-padding-large" style="padding: 20px; color: white;"> 
          <p>MaxConsultancy</p>
        </div>
        <div class="mobile-button">
          <span style="float: right;" >&#9776;</span>
        </div>
        <div class="links" style="color: white;">
          <a  style="color: white;" href="#about" >About</a>-
          <a  style="color: white;" href="#consulting" >Consulting</a>-
          <a style="color: white;" href="#contact" >Contact</a>   -
          <a style="color: white;" href="./setupregister.html" ><b>Register</b></a>   
          <a style="color: white;" href="./login.html" ><b>login</b></a>        
        </div>
     
      </nav> 
    </section>

    <section class="hero w3-padding-large w3-container">
      <h1 style="display: inline;"><span><i class="fa fa-check-square-o"></i></span>Quickly Build Landing Pages With Knight
      </h1>
      <p>Knight is a platform that helps freelancers.

      </p>
    </section>
    <section class="w3-container footer">
        <p class="w3-center logo">© 2024 - MaxConsultancy - All rights reserved</p>
      </section>
  
  
 
   </body>
</html>