<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../assets/css/login.css">

</head>
<body>
    <div class="login-container">
        <!-- <h3>Login</h3> -->
       
        <form action="./login.html" method="post" class="login-form">
            <div class="form-group">
                <label for="role" style="font-weight: bolder;">Login as:</label>
                <select id="role" name="role_id" style="width: 198px;
                height: 35px;">
                    <!-- represents  navbar.html or  dynamic values -->   
                    {{loginOption}}
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
           
            <button type="submit" >Login</button>
        </form>
    </div>
       
<div id="alertMessage" >
 {{alerted}}
</div>

</body>
</html>
