<nav class="navbar">
  <div style="width: 100%;display: flex; justify-content: space-between;align-self: center;padding:0 20px ;">
  <div class="navbar-brand" ><a href="./index.html" style="color: white;text-decoration: none;">MaxConsultancy</a></div>
  <div style="display: flex; justify-content: space-between; column-gap: 20px;">
  
  <div class="navbar-brand"  >Hello {{username}}</div>
</div>
  </div>
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li><a href="./dashboard.html">Dashboard</a></li>
     
      {{adminsidebar}}
      {{vendorsidebar}}
      {{clientsidebar}}
      <br>
      <br>
      
      <li><a href="./logout">Log Out</a></li>
    </ul>
  </div>
</nav>