<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../assets/css/setupregister.css">

</head>
<body>
    <div style="display: flex; justify-content: center; gap: 20px;">
    <div class="login-container">        <h2>register as Client</h2>

        <form action="#" method="get" class="login-form">
            
            <button type="submit" style="font-size: larger; background-color: black;color: aqua;">Enter</button>
            
        </form>
    </div>

    
    <div class="login-container"><h2>register as vendor</h2>
        <form action="./register.html" method="get" class="login-form">
            
            <button type="submit" style="font-size: larger; background-color: black;color: aqua;">Enter</button>
        </form>
    </div>
</div>
    <script src="../assets/js/create.js" ></script>
</body>
</html>
